body{ font-family: 'Open-sans',sans-serif; }


.bd-placeholder-img{

        font-size: 1.125rem;
        text-anchor: middle;
        text:   center;
        font-style: ;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;           
    
}

@media {
        min-width: 768px;
        .bd-placeholder-img-lg 
          font-size: 3.5rem; 
        }

.jumbotron {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: #f2e1d0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.card-img-top{
    max-height: 36rem;

}

.carousel-item {
  max-height: 36rem;
}

.card-deck{
  background-color: #f2e1d0;
}

.card{
  background-color: #333333;
}
.album{
 background-color: #adb3b8; 
}
.card-text{
  color: whitesmoke;
}
.card-title{
  color: whitesmoke;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}


